:root {
  --primary-color: #25233e; /* Dark blue */
  --secondary-color: #3a3852; /* Slightly lighter dark blue */
  --background-color: #d1cedb; /* Light grayish background */
  --highlight-color: #b4ebb4; /* Light green for selected slots */
  --text-color: #11111c; /* Dark text color */
  --border-color: #c7c7cd; /* Light border color */
  --modal-background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  --modal-content-bg: #ffffff; /* White background for modal content */
  --form-bg: #f2f1f7; /* Light form background */
  --form-border: #c5c6cd; /* Light form border */
}

body {
  font-family: 'Lato', Arial, sans-serif;
  color: var(--text-color);
  text-align: center;
  background-color: var(--background-color);
  user-select: none;
}

h2 {
  margin-bottom: 10px;
}

.container {
  padding: 5px;
  max-width: 360px;
  background-color: var(--form-bg);
  border: var(--border-color) 1px solid;
  border-radius: 0px;
  color: var(--text-color);
  margin: 5px auto;
  line-height: 1.2;
  hyphens: auto;
}

.bold {
  font-weight: bold;
}

.schedule-container {
  display: inline-block;
  text-align: center;
  overflow: auto;
}

.weekdays {
  display: grid;
  grid-template-columns: 50px repeat(7, 1fr);
  padding-left: 2px;
  padding-bottom: 2px;
}

.weekday {
  background-color: var(--form-bg);
  font-weight: bold;
  min-width: 15px;
  padding: 10px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-grid {
  display: grid;
  grid-template-columns: 50px repeat(7, 1fr);
  grid-auto-rows: 30px; /* Each row represents a 30-minute time slot */
  gap: 2px;
}

.time-label {
  background-color: var(--form-bg);
  padding: 10px;
  border: 1px solid var(--border-color);
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-slot {
  background-color: var(--form-bg);
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: background-color 0.1s;
}

.time-slot.selected {
  background-color: var(--highlight-color); /* Highlight selected slots */
}

/* Style the form container */
.form {
  width: 200px;
  margin: 0 auto;
  border: 1px solid var(--form-border);
  border-radius: 3px;
  background-color: var(--form-bg);
}

/* Style each form group */
.form-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Style the labels */
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
}

/* Style the input fields */
.form-group input[type="text"] {
  width: 120px;
  padding: 5px;
  border: 1px solid var(--form-border);
  border-radius: 4px;
  font-size: 16px;
}

/* Style the buttons */
.btn {
  width: 100px;
  padding: 5px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Lato';
}

.btn:hover {
  background-color: var(--secondary-color);
}

/* Button to open the modal */
.open-modal-btn {
  margin: 5px;
  width: 200px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Lato";
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background); /* Semi-transparent background */
}

/* Modal Content */
.modal-content {
  background-color: var(--modal-content-bg);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  margin: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Close Button (X) */
.close-modal {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Lato";
}

/* Availability results section */
#availabilityResults {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

#availabilityGrid {
  width: auto;
  border-collapse: collapse;
}

#availabilityGrid td {
  min-width: 30px;
  height: 25px;
  text-align: center;
  border: 1px solid var(--border-color);
  color: var(--highlight-color);
  font-size: small;
}

#availabilityGrid td:first-child {
  width: 50px;
  font-size: small;
  color: var(--text-color);
}

.modal-content {
  max-height: 80vh; /* Set a max height for the modal */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
}